.container {
    max-width: 900px;
    margin: auto;
    padding: 16px;
    text-align: center;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 16px;
  }
  
 
  .icons-container {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 16px;
  }
  
  .icon {
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    color: #333;
  }
  
  .icon:hover {
    transform: scale(1.1);
    color: #28a745; 
  }

  .highlight {
        color: #007bff; 
        font-size: 28px; 
        font-weight: bold;
        text-shadow: 0 0 8px rgba(0, 123, 255, 0.8); 
    }
  
  .grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr; 
  }
  
  img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }
  

  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  