
.work-experience-container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  

  .section-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  

  .experience-card {
    display: flex;
    align-items: stretch;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  

  .time-period {
    background-color:#4CAF70; 
    color: white;
    padding: 16px;
    width: 250px;
    text-align: center;
    flex-shrink: 0;
  }
  
  .date {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .company {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
 
  .experience-content {
    padding: 20px;
    text-align: left;
    flex: 1;
  }
  
  .title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .description {
    font-size: 1rem;
    color: #555;
  }
  

  @media (max-width: 768px) {
    .experience-card {
      flex-direction: column;
      text-align: center;
    }
  
    .time-period {
      width: 100%;
      padding: 10px;
    }
  
    .experience-content {
      padding: 15px;
    }
  }
  